.header {
  display: grid;
  grid-template-columns: auto minmax(320px, 1000px) auto;
  grid-template-areas:
    "top top top"
    ". bottom .";
}

.top {
  display: grid;
  grid-template-columns: auto minmax(320px, 1000px) auto;
  grid-template-areas: ". inner .";
  grid-area: top;

  color: var(--primary);

  background-color: var(--primary);
}

.inner {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 28px;
  grid-template-areas:
    "logo content"
    "user content";
  gap: 20px;

  grid-area: inner;
  padding: 20px;

  background-color: var(--background);
}

.logo {
  grid-area: logo;
}

.logo__image {
  mix-blend-mode: multiply;
}

.user {
  grid-area: user;
}

.content {
  grid-area: content;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
}

.bottom {
  grid-area: bottom;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: var(--primary);
}

.background {
  position: relative;

  width: 100%;
  height: 350px;
}

.background__image {
  object-fit: cover;
}

.nav {
  padding: 0 20px;
}
